{% extends 'Util/base.html' %}

{% load static %}
{% block content %}
<div style="margin-top: 200px;">
    <a href="{% url 'courbe_data' 1 %}">
        <button>Voir données ESP 1</button>
    </a>
    <a href="{% url 'courbe_data' 2 %}">
        <button>Voir données ESP 2</button>
    </a>
    <a href="{% url 'courbe_data' 3 %}">
        <button>Voir données ESP 3</button>
    </a>
</div>

<a href="#">Ajouter ESP</a>
<a href="{% url 'liste_esp' %}">Liste ESP</a>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" placeholder=" votre nom">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

