{% extends 'Util/base.html' %}

{% load static %}
{% block content %}

 <!-- Leaflet CSS -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<style>
 /* body{
    background-image: url('/static/adm/image/carte.png');
    background-size: cover; 
    background-position: center; 
  }*/
  #map {
            height: 800px; /* Taille de la carte */
            width: 100%;
        }
</style>
<div id="map">

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>
  // Créer la carte centrée sur Fianarantsoa
  var map = L.map('map').setView([-21.4545, 47.0833], 13);

  // Ajouter la couche de tuiles
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors'
  }).addTo(map);
// Définir une icône rouge pour les marqueurs lorsque feux est "oui"
var redIcon = new L.Icon({
    iconUrl: '{% static "adm/image/rouge.png" %}',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });

  // Définir l'icône par défaut (bleue) pour les autres cas
  var defaultIcon = new L.Icon({
    iconUrl: '{% static "adm/image/verte.png" %}',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });

  // Récupérer les données ESP passées depuis Django (converties en JSON)
  var espData = JSON.parse('{{ esp_list|escapejs }}');

  // Fonction pour construire l'URL vers la vue courbe_admin
  function getCourbeUrl(espId) {
      return "{% url 'courbe_data' '0' %}".replace('0', espId);
  }

  espData.forEach(function(esp) {
    if (esp.latitude && esp.longitude) {
      // Choisir l'icône en fonction de la valeur de feux
      var markerIcon = esp.feux.toLowerCase() === 'oui' ? redIcon : defaultIcon;

      // Créer un marqueur avec l'icône appropriée
      var marker = L.marker([esp.latitude, esp.longitude], { icon: markerIcon }).addTo(map);
      
      // Ajouter un popup avec un lien vers la courbe et les données de feux
      marker.bindPopup('<b>' + esp.lieu + '</b><br>' +
                       'Feux: ' + esp.feux + '<br>' +  // Afficher la valeur de feux
                       '<a href="' + getCourbeUrl(esp.id) + '">Voir données: ' + esp.lieu + '</a>');
    }
  });

</script>

</div>

    
{% endblock %}

