{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript"></script>
        <link rel="stylesheet" href="{% static 'Utl\css\bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'Utl\css\graphique.css' %}">
        <link rel="stylesheet" href="{% static 'Utl\css\page.css' %}">
        <link rel="stylesheet" href="{% static 'adm\css\menu.css' %}">
       
    </head>
<body>
     <script src="{% static 'Utl\js\chart.umd.js' %}"></script>
     <script src="{% static 'Utl\js\jquery.js' %}"></script>

     <nav>
        <img src="#" alt="Logo" class="logo">
        <ul>
            <li><a href="{% url 'show_data' %}">Graphique</a></li>
            <li><a href="{% url 'historique' %}">Historique <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a href="#">Liste</a></li>
                        <li><a href="#">Ajouter nouveau</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <img src="{% static 'Utl\image\user.png' %}" alt="user_img" class="user" onclick="toggleMenu()">

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="{% static 'Utl\image\user.png' %}">
                    <h3>Jacquis Léon</h3>
                </div>
                <hr>

                <a href="#" class="sub-menu-link">
                    <img src="#" alt="img">
                    <p>Profils</p>
                    <span></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="#" alt="img">
                    <p>Parametre</p>
                    <span></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="#" alt="img">
                    <p>A propos</p>
                    <span></span>
                </a>
                <a href="{% url 'login_util' %}" class="sub-menu-link">
                    <img src="#" alt="img">
                    <p>Deconnexion</p>
                    <span></span>
                </a>
            </div>
        </div>
    </nav>
<script>
        let subMenu = document.getElementById("subMenu");
        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
</script>
{% block content %}

{% endblock content %}
</body>
</html>
