{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'Utl/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Utl/css/graphique.css' %}">
    <link rel="stylesheet" href="{% static 'adm/css/menu.css' %}">
</head>
<body>
    <script src="{% static 'Utl/js/chart.umd.js' %}"></script>
    <script src="{% static 'Utl/js/jquery.js' %}"></script>

    <nav>
                   <!-- <img src="#" alt="Logo" class="logo">-->
                   <h3>SURVEILLANCE DE QUALITER DE L'AIR</h3>
        <ul>
            <li><a href="{% url 'show_data' %}">Graphique</a></li>
            <li><a href="{% url 'historique' %}">Historique <i class="fas fa-caret-down"></i></a></li>
        </ul>

        <!-- Affichage de l'image de l'utilisateur connecté -->
        <img src="{% if profil.image %}
        {{ profil.image.url }}
        {% else %}
        {% static 'Utl/image/img.jpg' %}
        {% endif %}" alt="user_img" class="user" onclick="toggleMenu()">

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <!-- Affichage de l'image de profil -->
                    <img src="{% if profil.image %}{{ profil.image.url }}{% else %}{% static 'Utl/image/img.jpg' %}{% endif %}" alt="Photo de profil">
                    <h4>{{ utilisateur.username }}</h4>
                </div>
                <hr>
                <a href="{% url 'P_modifier' %}" class="sub-menu-link">
                    <img src="{% static 'Utl/image/img.jpg' %}" alt="img">
                    <p>Profils</p>
                    <span></span>
                </a>
          
                <a href="{% url 'login_util' %}" class="sub-menu-link">
                    <img src="{% static 'Utl/image/lg.jpg' %}" alt="img">
                    <p>Deconnexion</p>
                    <span></span>
                </a>
            </div>
        </div>
    </nav>

    <script>
        let subMenu = document.getElementById("subMenu");
        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
    </script>
    {% block content %}
    {% endblock content %}
</body>
</html>
