{% extends 'admini/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'adm\css\ajoute.css' %}">
<script src="{% static 'adm/js/ajouter.js' %}"></script>

<div class="row">
    <div class="col-sm-4">
         <form method="POST" enctype="multipart/form-data" id="formulaire">
           <h4 class="text-center alert text-bg-warning">AJOUTER NOUVEAU UTULISATEUR</h4>            
           {% csrf_token %}
           
           <div class="flex-container">
                <div class="col left">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" placeholder="Tapez ici son nom d'utilisateur" name="name">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Tapez ici son adresse email" name="email">
                    <label for="password">Mot de passe</label>
                    <input type="text" placeholder="Tapez ici son mot de passe" id="password" name="pass">
                </div>

                <div class="col right">
                <!--    <label for="nom">Nom</label>
                    <input type="text" placeholder="Tapez ici son nom" name="nom">
                    <label for="prenom">Prenom</label>
                    <input type="text" placeholder="Tapez ici son prénom" name="prenom">
                    <label for="password">Confirmer le mot de passe</label>
                    <input type="password" placeholder="Confirmer son mot de passe" id="password" name="passe">
                -->
                <label for="image">Photo de profil</label>
                <input type="file" name="image" accept="image/*">
                </div>
            </div>
            
            <button type="submit" value="Enregistrer">Enregistrer</button>
            <p id="mssg" style="color: red;"></p>
            {% if messages %}
            {% for message in messages %}
                <p id="mssg" class="{% if message.tags == 'success' %}success
                                        {% elif message.tags == 'error' %}error
                                        {% endif %}">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
        
        </form>  
    </div>
</div>
{% endblock %}