{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'Utl\css\bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'adm\css\menu.css' %}">
        
    </head>
<body>
    <script src="{% static 'Utl/js/echarts.min.js' %}"></script>
    <script src="{% static 'Utl\js\chart.umd.js' %}"></script>
    <script src="{% static 'Utl\js\jquery.js' %}"></script>
    {% csrf_token %}

        <nav>
           <!-- <img src="#" alt="Logo" class="logo">-->
            <h3>SURVEILLANCE DE QUALITE DE L'AIR</h3>
            <ul> 
                <li><a href="#">Graphique<i class="fas fa-caret-down"></i></a>
                           <!--<div class="dropdown-menu">-->
                            <ul>
                                <li><a href="{% url 'courbe_admin' %}">Courbe</a></li>
                                <li><a href="{% url 'bar_admin' %}">Bar</a></li>
                                <li><a href="{% url 'jauge_admin' %}">Jauge</a></li>
                            </ul>
                       <!--</div>--> 
                </li>
                <li><a href="#">Utilisateurs <i class="fas fa-caret-down"></i></a>
                    <!--<div class="dropdown-menu">-->
                        <ul>
                            <li><a href="{% url 'liste' %}">Liste</a></li>
                            <li><a href="{% url 'ajouter' %}">Créer nouveau</a></li>
                        </ul>
                   <!--</div>--> 
                </li>
                <li><a href="{% url 'histo' %}">Historique</a></li>
            </ul>
            <img src="{% if admin_profile.image %}
            {{ admin_profile.image.url }}
            {% else %}
            {% static 'adm/image/img.jpg' %}
            {% endif %}" alt="user_img" class="user" onclick="toggleMenu()">


            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="{% if admin_profile.image %}
            {{ admin_profile.image.url }}
            {% else %}
            {% static 'adm/image/img.jpg' %}
            {% endif %}" alt="user_img">
                        <h4>{{ administrateur.username }}</h4>
                    </div>
                    <hr>

                    <a href="{% url 'profil_admin' %}" class="sub-menu-link">
                        <img src="{% static 'adm/image/img.jpg' %}" alt="img">
                        <p>Profils</p>
                        <span></span>
                    </a>
               
                    <a href="{% url 'login_admin' %}" class="sub-menu-link">
                        <img src="{% static 'adm/image/lg.jpg' %}" alt="img">
                        <p>Deconnexion</p>
                        <span></span>
                    </a>
                </div>
            </div>
        </nav>


    <main>
        {% block content %}
        <!-- Contenu spécifique de chaque page -->
        {% endblock %}
    </main>

    <script>
        let subMenu = document.getElementById("subMenu");
        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
    </script>

<footer class="footer bg-dark text-light text-center py-3 mt-5">
    <p>&copy; 2024 Surveillance de qualité de l'air.</p>
    <p>&copy; Jacquis Léon</p>

</footer>

    
</body>
</html>
