{% extends 'admini/base.html' %}

{% load static %}  
{% load i18n %}
{% block content %}  
<link rel="stylesheet" href="{% static 'adm/css/liste_util.css' %}">
<div id="container">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="text-center alert text-bg-success mb-3" style="width: 80%;">{% trans 'Seuils' %}</h5>
        <button style="width: 19%; height: 57px;" type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#seuils">
            {% trans 'Modifier seuils' %}
        </button>
    </div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Humidité Min</th>
            <th>Humidité Max</th>
            <th>Température Min</th>
            <th>Température Max</th>
            <th>Gaz Min</th>
            <th>Gaz Max</th>
            
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>{{ seuils.humMin }}</td>
                <td>{{ seuils.humMax }}</td>
                <td>{{ seuils.tempMin }}</td>
                <td>{{ seuils.tempMax }}</td>
                <td>{{ seuils.gazMin }}</td>
                <td>{{ seuils.gazMax }}</td>
                
            </tr>
        
    
    </tbody>
</table>


    <div class="d-flex justify-content-between align-items-center">
        <h5 class="text-center alert text-bg-warning mb-3" style="width: 80%;">{% trans 'Liste des appareils' %}</h5>
        <button style="width: 19%; height: 57px;" type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#ajoute">
            {% trans 'Ajouter nouveau' %}
        </button>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% trans 'Lieu' %}</th>
                <th scope="col">{% trans 'Latitude' %}</th>
                <th scope="col">{% trans 'Longitude' %}</th>
                <th scope="col">{% trans 'Action' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for data in all_esp %}
            <tr>
                <th scope="row">{{ data.id }}</th>
                <td>{{ data.lieu }}</td>
                <td>{{ data.latitude }}</td>
                <td>{{ data.longitude }}</td>
                <td style="width: 30%; text-align: center;"> 
                    <a href="{% url 'histo_esp' data.id %}" class="btn btn-outline-success">{% trans 'Historique' %}</a>
                    <a href="#" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modifier{{ data.id }}">{% trans 'Modifier' %}</a>
                    <a href="{% url 'supre_esp' data.id %}" class="btn btn-outline-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet appareil ?');">{% trans 'Supprimer' %}</a> 
                </td>
            </tr>
            
            <!-- Modal de modification -->
            <div class="modal fade" id="modifier{{ data.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modifierLabel{{ data.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modifierLabel{{ data.id }}">{% trans "Modifier l'emplacement de l'appareil" %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{% url 'modifier_esp' data.id %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="lieu{{ data.id }}" class="form-label">Lieu</label>
                                    <input type="text" class="form-control" id="lieu{{ data.id }}" name="lieu" value="{{ data.lieu }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="latitude{{ data.id }}" class="form-label">Latitude</label>
                                    <input type="text" class="form-control" id="latitude{{ data.id }}" name="latitude" value="{{ data.latitude }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="longitude{{ data.id }}" class="form-label">Longitude</label>
                                    <input type="text" class="form-control" id="longitude{{ data.id }}" name="longitude" value="{{ data.longitude }}" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-primary">{% trans 'Modifier' %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal d'ajouter -->
<div class="modal fade" id="ajoute" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{% trans 'Ajouter nouvel appareil' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }} 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Fermer' %}</button>
                        <button type="submit" class="btn btn-primary">{% trans 'Enregistrer' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .cote-container {
      display: flex;
      gap: 10px; /* Ajoute un espace entre les deux champs */
    }
  
    .temp-item {
      flex: 1; /* Les deux champs prennent la même largeur */
    }
  </style>

  <!-- Modal -->
<div class="modal fade" id="seuils" tabindex="-1" aria-labelledby="seuilsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seuilsLabel">Modifier Seuils</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'update_seuils_data' %}">  <!-- Action pour la mise à jour -->
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col">
                            <label for="humMin" class="form-label">Humidité Min</label>
                            <input type="text" class="form-control" id="humMin" name="humMin" value="{{ seuils.humMin }}">
                        </div>
                        <div class="col">
                            <label for="humMax" class="form-label">Humidité Max</label>
                            <input type="text" class="form-control" id="humMax" name="humMax" value="{{ seuils.humMax }}">
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col">
                            <label for="tempMin" class="form-label">Température Min</label>
                            <input type="text" class="form-control" id="tempMin" name="tempMin" value="{{ seuils.tempMin }}">
                        </div>
                        <div class="col">
                            <label for="tempMax" class="form-label">Température Max</label>
                            <input type="text" class="form-control" id="tempMax" name="tempMax" value="{{ seuils.tempMax }}">
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col">
                            <label for="gazMin" class="form-label">Gaz Min</label>
                            <input type="text" class="form-control" id="gazMin" name="gazMin" value="{{ seuils.gazMin }}">
                        </div>
                        <div class="col">
                            <label for="gazMax" class="form-label">Gaz Max</label>
                            <input type="text" class="form-control" id="gazMax" name="gazMax" value="{{ seuils.gazMax }}">
                        </div>
                    </div>
                          <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Sauvegarder</button>  <!-- Bouton pour soumettre le formulaire -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
