{% extends 'admini/base.html' %}

{% load static %}  

{% block content %}  
<link rel="stylesheet" href="{% static 'adm\css\liste_util.css' %}">

    <div id="container">
        <h4 class="text-center alert text-bg-warning">Liste des utilisateurs</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Email</th>
                    <th scope="col" id="col_pass">Mot de passe</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in all_data %}
                <tr>
                    <th scope="row">{{ data.id }}</th>
                    <td>{{ data.username }}</td>
                    <td>{{ data.email }}</td>
                    <td id="col_pass">{{ data.password }}</td>
                    
                    <td>
                        {% if data.userprofile.image %}
                            <img src="{{ data.userprofile.image.url }}" alt="Photo de profil" style="width: 50px; height: 50px; object-fit: cover;">
                        {% else %}
                            <p>Aucune image</p>
                        {% endif %}
                    </td>
                    
                    <td> 
                        <a href="{% url 'modifier' data.id %}" class="btn btn-warning">Modifier</a>
                        <a href="{% url 'suprimer' data.id %}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir suprimer cet utilisateur ?');">Suprimer</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">Aucune donnée disponible</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
