{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Administrateur</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'adm\css\adlogin.css' %}">
    <style>

    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        <h3>{% trans 'Administrateur' %}</h3>
        {% csrf_token %}
        <label for="username">{% trans "Nom d'Administrateur" %}</label>
        <input type="text" placeholder="Tapez votre nom d'Administrateur ici" id="username" name="admname">
        <label for="password">{% trans "Mot de passe" %}</label>
        <input type="password" placeholder="Tapez votre mot de passe ici" name="admpass">

        <button type="submit">{% trans 'Se connecter' %}</button>
        {% if messages %}
                {% for message in messages %}
                    <p id="mssg">{{ message }}</p>
                {% endfor %}
        {% endif %}    
    </form>
</body>
</html>
